.consultation
    min-height: 680px
    padding: 100px 0 108px 0
<<<<<<< HEAD
    background: url(../img/screen-2_bg.png) center (center/cover) no-repeat 
=======
    background: url(/img/screen-2_bg.png)  center (center/cover) no-repeat 
>>>>>>> f5507eb77d09a801d87810729cb9a9ed1807647f
    &__text
        margin-top: 8px
        font-style: normal
        font-weight: 500
        font-size: 20px
        color: #FFFFFF


