.consultation
    min-height: 680px
    padding: 100px 0 108px 0
    background: url(/img/screen-2_bg.png)  center (center/cover) no-repeat 
    &__text
        margin-top: 8px
        font-style: normal
        font-weight: 500
        font-size: 20px
        color: #FFFFFF
    .error
        border: 1px solid red 
    label.error
        color: red 
        border: none
        margin-bottom: 10px 
        text-align: center 


