.consultation
    min-height: 680px
    padding: 100px 0 108px 0
    background: gray 
    opacity: 0.9 
    &__text
        margin-top: 8px
        font-style: normal
        font-weight: 500
        font-size: 20px
        color: #FFFFFF
